@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

body {
    font-family: poppins;
}

.footer {
    text-align: center;
}

.navbar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li a{
        float: right;
    }

    h1 {
        float: left;
        background-color: white;
    }
    
    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: rgb(0, 255, 0);
    }

    li h1 a:hover {
        background-color: white;
    }
}

.no-margin-top {
    margin-top: 0;
}

.list-elements span {
    color: white;
}
.round-boxed-red {
    background-color: red;
    border-radius: 1em;
    padding: 2px 5px 2px 5px;
}

.blue {
    color: blue;
}

.underlined {
    text-decoration: underline;
}

.red {
    color: red;
}
